@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Hind', sans-serif;
    background-color: #FAF8F6;
}

.container {
    width: 100%;
    height: 1000px;
    margin: 0 auto;

}

.head {
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.icon img {
    height: 150px;
    padding-top: 0px;
    margin: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 55%;
}

.nav ul {
    margin: 0;
    padding: 0;

}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

.nav ul li a {
    text-decoration: none;
    color: #2a406a;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('images/levenslust-nieuwbouw-1.jpg');
    background-size: cover;
    color: #2a406a;
    padding: 0px;
    padding-bottom: 400px;
}
header h1{
    font-family: 'Hind', sans-serif;
    font-size: 50px;
}
header h4{
   margin-top: -20px;
   font-size: 20px;
   text-align: center;
   border-bottom: 1px solid #2a406a ;
}
header button {
    padding: 5px 15px;
    background-color: #2a406a;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    outline: none;
    cursor:pointer;
    border: none;
}
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .inhoud .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .inhoud .box .text{
    flex: 0 0 40%;
    padding: 10px;
    background-color: #2a406a;
    color: #fff;
    margin-top: 100px;
}
.main .inhoud .box.image{
    flex: 0 0 60%;
    margin-top: 50px;
}
.main .inhoud .box .image img{
    height: 300px;
    width: 400px;
    margin-top: 100px;
}






.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
background-color: #2a406a;
padding: 70px 0;
  margin-top: 200px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #24262b;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #6B9AC4;
	transition: all 0.5s ease;
}

.footer-image li{
  display: inline;
}

.footer-image{
  margin-top: 100px;
}